<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/jquery.pagination.css">
    <link rel="stylesheet" href="/lib/animate.css">
</head>
<body>
    <!-- <%- include('./footer.ejs') %> -->
    <%- include('./header.ejs') %>
   

  1111
    


    <script src="/lib/jquery.js"></script>
    <script src="/lib/jquery-cookie.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script> 
    <script src="/javascripts/car.js"></script>
    <script>
      car.init()
    </script>
    <script src="/javascripts/list.js"></script>
    <script src="/lib/jquery.pagination.js"></script>
    <script>
      // $("#Pagination").pagination(100, {
      //     callback: pageselectCallback,//PageCallback() 为翻页调用次函数。
      //     // items_per_page: , //每页的数据个数
      //     // num_display_entries: 3, //两侧首尾分页条目数
      //     // current_page: ,   //当前页码
      //     // num_edge_entries: 2, //连续分页主体部分分页条目数
      //     // link_to:""
      // });

      // function pageselectCallback(){
      //   console.log('get')
      // }
    </script>
</body>
</html>