<div class="orderList" ng-controller="tipsListController">
    <div style="margin-bottom:20px;">

            <div class="form-group">
                    <label for="tip">公告内容</label>
                    <input type="text" class="form-control" ng-model="tipsCtt" id="tips" placeholder="公告内容">
                   
                  </div>
                 
                  <div class="row">
                        <button ng-click="add()" class="btn btn-info pull-right">添加</button>
                      
                    </div>

    </div>
      


    <ul class="list-group">
        <li class="list-group-item good-box" style='margin-bottom:15px;' ng-repeat="tip in tips">
            <div>


                <p> 公告:
                    <span class="label label-primary">{{tip.tips}}</span>
                </p>
                
                <p> 发布时间:
                    <span class="label label-primary">{{tip.formatTime}}</span>
                </p>
            
            </div>
            <div class="row">
                <button ng-click="updateShow(tip._id)" class="btn btn-info pull-right">编辑</button>
                <button ng-click="remove(tip._id,$index)" class="btn btn-danger pull-right">删除</button>
            </div>

        </li>
    </ul>
    <style>
        .modal {
            display: block;
        }
    </style>
    <!-- 编辑商品 -->


    <div class="modal" ng-controller="tipsUpdateController" ng-show="isUpdateShow.flag">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="isUpdateShow.flag=false" type="button" class="close">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">编辑</h4>
                </div>
                <div class="modal-body">

                    <label for="">公告内容</label>
                    <input ng-model="nowTips.tips" type="text" class="form-control">
         
                  
                </div>
                <div class="modal-footer">
                    <button ng-click="isUpdateShow.flag=false" type="button" class="btn btn-default">Close</button>
                    <button ng-click="update()" type="button" class="btn btn-primary">更新</button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>